/* Global Properties */
* {
    box-sizing: border-box;
}

/* Element Properties */

body {
    margin: 0;
    text-align: center;
}

header, footer {
    background-color: #FF1053;
}

main {
    background-color: #fff;
}
h1, h2, h3, h4, a {
    color: #494949;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
h1 {
    margin-top: 0;
}
h1, .contact h2 {
    color: #fff;
    text-shadow: 2px 2px 3px black;
}

h2, li {
    text-transform: uppercase;
}

h3 {
    margin: 20px 0;
}

p, li {
    color: #a9a9a9;
    font-family: 'Montserrat', sans-serif;

}

li {
    margin: 5px 0;
    padding:5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Class Properties */

.container {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}



/* Header class properties */
.bio {
    margin-top: 40px;
}

.bio p {
    color: #fff;
}

.top-nav a {
    display: block;
}

.top-nav li {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    transition: all 0.3s;
}

.top-nav li:hover {
    background-color: #eeeeee;
    box-shadow: -1px -1px 2px #646464;
}

.top-nav a:hover {
    color: #000000;
}


.img-profile {
    width: 75%;
}


/* Portfolio class properties */
.img-portfolio {
    width: 100%;
}

.tile {
    margin-top: 30px;
}

/* Skills class properties */
.skills-logo {
    width: 40%;
    margin: 10px 30%;
    background-color: #6C6EA0;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #161616;
}

/* Footer class properties */
.contact {
    margin-bottom: 30px;
}

.contact p, .contact-text {
    color: #fff;
}

.contact ul li{
    text-transform: capitalize;
}

.contact ul li a {
    text-transform: lowercase;
}

.contact-info a {
    margin-left: 20px;
}

.contact-info a, .bottom-nav h4 {
    color: #000000;
    transition: all 0.3s;
}

.contact-info a:hover, .bottom-nav-large a:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
}

.social {
    width: 25px;
    height: 25px;
    margin: 10px 20px;
    filter: invert(100%);
    transition: all 0.3s;
}

.social:hover {
    opacity: 0.5;
}


/* Bottom Nav properties */



.bottom-nav {
    border-top: 1px solid #fff;
}

.bottom-nav-small h4 {
    text-align: left;
    float: left;
    padding-top: 20px;
    margin: 0;
}

.bottom-nav-small a, .bottom-nav-large a {
    text-transform: uppercase;
    text-align: right;
    padding-top: 20px;
    color: #000000;
    transition: all 0.3s;
}

.bottom-nav-small a {
    float: right;
}

.bottom-nav-small a:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
}

.bottom-nav-small {
    width: 100%;
}

.bottom-nav-large {
    display: none;
}

/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Media Queries */

@media (min-width: 768px) {
    /* Top Nav Formatting */
    .top-nav li {
        display: inline-block;
        margin: 0 15px;
        background-color: #FF1053;
        box-shadow: 0px 0px 0px;
    }

    .top-nav li a {
        color: #fff;
        text-shadow: 1px 1px 1px #000000;
    }

    .top-nav li:hover {
        background-color: #FF1053;
        box-shadow: 0px 0px 0px;        
    }

    .top-nav li a:hover {
        color: #e6e6e6;
    }
    
    /* Top Bio Formatting */
    .bio {
        width: 100%;
    }
    .bio img {
        float: right;
        width: 40%;
    }
    .bio p {
        float: left;
        width: 55%;
        text-align: left;
    }

    /* Portfolio */
    .tile {
        display: inline-block;
        width: 46%;
        vertical-align: top;
        margin: 1%;
    }

    /* Skills */
    .skills-logo {
        display: inline-block;
        width: 20%;
        margin: 0 10%;
    }

    /* Contact Info */
    .contact p {
        padding: 0 10%;
    }

    /* Bottom Nav */
    .bottom-nav {
        white-space: nowrap;
        padding-top: 20px;
    }

    .bottom-nav-small a {
        display: none;
    }

    .bottom-nav-small, .bottom-nav-large {
        width: 50%;

    }

    .bottom-nav-small {
        display: inline-block;
        text-align: left;
    }

    .bottom-nav-small h4 {
        display: inline;
        float: none;
    }

    .bottom-nav-large {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: right;
    }    

    .bottom-nav-large li {
        display: inline;
        padding: 0px;
    }

    .bottom-nav-large a {
        margin-left: 10px;
    }

}

@media (min-width: 1024px) {
    .container {
        max-width: 1500px;
    }
    /* Top Nav Format */
    .top-nav h1 {
        float: left;
    }

    .top-nav nav {
        float: right;
    }

    /* Portfolio */
    .tile {
        width: 31%;
        margin: 1%;
    }

    /* Skills */
    .skills {
        margin-bottom: 20px;
    }

    .skills-logo {
        width: 20%;
        margin: 0 5%;
    }

}